/* ------ 기본값 ------ */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Pretendard Variable';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.25px;
}
body {
  background: #fff;
  color: #292929;
}
#home ul, ol {
  list-style: none;
  padding-inline-start: 0;
}
#home a{
  text-decoration: none;
  letter-spacing: -0.36px;
  color: #292929;
}
#home button {
  cursor: pointer;
  letter-spacing: -0.36px;
  background: #fefefe;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid;
}
#home fieldset {
border: none;  
padding: 0;    
margin: 0;     
}
#home label {
  display: block;
}
#home input {
  background: #fefefe;
  border-radius: 10px;
}
#home .inner {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}
#home .m-top20 {
  margin-top: 20px;
}
#home .mob-br {
  display: none;
}
@supports (-webkit-appearance:none) {
    input {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
    }
}
#home input::-webkit-contacts-auto-fill-button {
	visibility:hidden !important;
	display:none !important;
	pointer-events:none !important;
	position:absolute !important;
	right:0 !important;
}
#home input::-webkit-credentials-auto-fill-button {
	visibility:hidden !important;
	display:none !important;
	pointer-events:none !important;
	position:absolute !important;
	right: 0 !important;
}

/* ------ header ------ */
#home .header {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
}
#home .header .content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .header .content .left-content {
  display: flex;
  align-items: center;
  gap: 14px;
}
#home .header .content .logo {
  width: 100%;
  max-width: 85px;
  height: auto;
}
#home .header .content .logo img {
  width: 100%;
  height: 100%;
  display: block;
}
#home .header .beta-badge {
  width: 53px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #5228F4;
  background: #EFEAFF;
  border-radius: 10px;
  text-align: center;
}
#home .header .content .right-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
#home .header .content .right-content li a {
  display: block;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}
#home .header .content .right-content li .loginBtn {
  color: #5228F4;
  border: 2px solid #EFEAFF;
}
#home .header .content .right-content li .signupBtn {
  color: #FEFEFE;
  background: #5228F4;
}
/* 로그인 후 네비게이션 스타일 예정*/
#home .header .content .nav .gnb {
  display: flex;
  gap: 40px;
  height: 80px;
  align-items: center;
}
#home .header .content .nav .gnb-item a {
  color: #222;
  font-family: "Pretendard-SemiBold";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  transition: all 300ms;
}
#home .header .content .nav .gnb-item:hover a {
  color: #9A2626;
  font-family: "Pretendard-ExtraBold";
}
#home .header .content .nav .gnb-training {
  position: relative;
}
#home .header .content .nav .gnb-training .gnb-sub {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 49px;
  transition: max-height 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .header .content .nav .gnb-training .gnb-sub .gnb-sub-item a {
  display: block;
  padding: 10px;
  background: rgba(34, 34, 34, 0.5);
  width: 80px;
  text-align: center;
  transition: all 300ms;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Pretendard-Regular";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
#home .header .content .nav .gnb-training .gnb-sub .gnb-sub-item:hover a {
  background: #fff;
  color: #222;
  font-family: "Pretendard-SemiBold";
}
#home .header .content .nav .gnb-training:hover .gnb-sub {
  max-height: 500px;
}
#home .header .content .login-link {
  display: flex;
  align-items: center;
}
#home .header .content .login-link a {
  color: #222;
  font-family: "Pretendard-SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
}
#home .header .content .login-link .line {
  width: 1px;
  height: 10px;
  background: #999;
  margin: 0 14px;
}
/* 로그인, 로그아윳 상태 시 나타나는 스타일 */
#home .header .content .login-before { /* 로그아웃 상태 시 나타남 */
  /* display: none; */
}
#home .header .content .login-complete { /* 로그인 상태 시 나타남 */
  display: none;
}
#home .mobile_display .login-link-m {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}
#home .mobile_display .login-link-m li {
  position: relative;
}
#home .mobile_display .login-link-m li:first-child::after {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background: #999;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}
#home .mobile_display .login-link-m a {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}
#home .pc_display {
  display: block;
}
#home .mobile_display {
  display: none;
}

@media (max-width: 928px) {
  #home .header .content .nav .gnb {
      gap: 24px;
  }
}
@media (max-width: 767px) {
  #home .pc_display {
      display: none;
  }
  #home .mobile_display {
      display: block;
  }
  #home .header {
      background: #FEFEFE;
      position: fixed;
  }
  /*mobile*/
  #home .mobile_display {
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 888;
  }
  #home .header .offcanvas-open {
      width: 27px;
      height: 20px;
      float: right;
      margin: 24px;
      position: relative;
      z-index: 1005;
  }
  #home .header .offcanvas-open span {
      display: block;
      width: 27px;
      height: 2.5px;
      background: #222;
      border-radius: 50px;
      position: absolute;
      left: 0;
      transition: all 0.5s;
  }
  #home .header .offcanvas-open span:nth-child(1) {
      top: 0;
  }
  #home .header .offcanvas-open span:nth-child(2) {
      top: 50%;
  }
  #home .header .offcanvas-open span:nth-child(3) {
      top: 100%;
  }
  #home .header .offcanvas-open.active span {
      background: #222;
  }
  #home .header .offcanvas-open.active span:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
  }
  #home .header .offcanvas-open.active span:nth-child(2) {
      display: none;
  }
  #home .header .offcanvas-open.active span:nth-child(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
  }
  #home .header .offcanvas {
      width: 100%;
      height: 100%;
      padding: 30px 16px;
      background: rgba(100, 100, 100, 0.445);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      transform: translateX(100%);
      /* transform: translateX(0%); */
      background: #fff;
      transition: transform 0.5s ease-in-out;
  }
  #home .header .offcanvas .offcanvas-body {
      width: 100%;
      height: 100%;
      flex-grow: 1;
  }
  #home .gnb-mobile .gnb-item a {
      width: 100%;
      box-sizing: border-box;
      display: block;
      padding: 0 8px;
      height: 61px;
      line-height: 61px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.32px;
      border-bottom: 1px solid #ddd;
      background: #fff;
  }
  #home .gnb-mobile .gnb-sub {
      display: none;
  }
  #home .gnb-mobile .gnb-training .gnb-sub .gnb-sub-item a{
      font-size: 16px;
      font-weight: 400;
      color: #555555;
      border-bottom: 1px solid #eaeaea;
      background: #FAFAFA;
  }
  #home .gnb-training .drop-arrow {
      float: right;
      margin-top: 14px;
      width: 28px;
      height: 28px;
      padding: 2px;
      box-sizing: border-box;
      position: relative;
  }
  #home .gnb-training .drop-arrow span {
      display: block;
      width: 10px;
      height: 3px;
      background: #777;
      position: absolute;
  }
  #home .gnb-training .drop-arrow span:nth-child(1) {
      top: 12px;
      left: 6px;
      transform: rotate(45deg);
  }
  #home .gnb-training .drop-arrow span:nth-child(2) {
      top: 12px;
      right: 6px;
      transform: rotate(-45deg);
  }
}
@media (max-width: 480px) {
  #home .header {
    height: 48px;
  }
  #home .header .content {
    height: 48px;
  }
  #home .header .content .logo {
    max-width: 73px;
  }
  #home .header .beta-badge {
    width: 41px;
    height: 21px;
    line-height: 21px;
    border-radius: 6px;
    font-size: 14px;
  }
  #home .header .content .right-content li a {
    padding: 8px 14px;
    font-size: 14px;
  }
}
/* sub-header */
#home .sub-header {
  border-bottom: 2px solid #EFEFEF;
}

/* ------ 
user-auth 클래스 적용 파일
: login.html/ find-id.html  
------ */
#main.user-auth {
  padding-top: 80px;
}
#home .user-auth .user-auth-wrap {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  margin-top: max(9vw, 80px);
  margin-bottom: 238px;
  text-align: center;
}
#home .user-auth .user-auth-wrap .main-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.36px;
  font-family: "IBM Plex Sans KR";
  font-style: normal;
}
#home .user-auth .user-auth-wrap .tab-view {
  display: flex;
  max-width: 452px;
  margin: 0 auto;
  margin-top: 10px;
}
#home .user-auth .user-auth-wrap .tab-view li {
  flex: 1;
  padding: 17px 0;
  font-size: 18px;
  border-bottom: 2px solid;
}
#home .user-auth .user-auth-wrap .tab-view li:first-child {
  color: #5228F4;
  border-color: #5228F4;
}
#home .user-auth .user-auth-wrap .tab-view li:not(:first-child) {
  color: #CECECE;
  border: none;
}
#home .user-auth .user-auth-wrap .guide-title {
  font-size: 18px;
  margin: 40px 0;
}
#home .user-auth .user-auth-wrap .guide-title span {
  display: block;
  line-height: 160%;
  margin-top: 14px;
  color: #868686;
  font-size: 16px;
}
#home .user-auth .user-auth-wrap .input_wrap {
  margin-top: max(3.5vw, 30px);
}
#home .user-auth .find-wrap .input_wrap {
  margin: 0;
}
#home .user-auth .input_container {
  width: 100%;
  display: flex;
  gap: 16px;
}
#home .user-auth .input_container label {
  flex: 1;
}
#home .user-auth .input_container input {
  width: 100%;
  padding: 15px 16px;
  box-sizing: border-box;
  border: 1px solid #EFEFEF;
  font-size: 18px;
  font-weight: 400;
  color: #292929;
  letter-spacing: -0.36px;
}
#home .user-auth .input_container input:focus {
  outline: 1px solid #5228F4;
}
#home .user-auth .input_container input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #CECECE;
}
#home .user-auth .input_wrap .password_container {
  display: block;
  position: relative;
}
#home .user-auth .keep_login {
  width: fit-content;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: #999;
}
#home .user-auth .keep_login input[type="checkbox"] {
  display: none;
}
#home .user-auth .keep_login input[type="checkbox"]:checked + label span.checkBox rect {
  fill: #0A387C; 
}
#home .user-auth label[for="keepLogin"] {
  cursor: pointer;
}
#home .user-auth .keep_login span.checkBox {
  display: inline-block;
  vertical-align: -5px;
  margin-right: 9px;
  cursor: pointer;
}
#home .user-auth ul.user_account {
  max-width: 580px;
  margin: 0 auto;
  margin-top: 57px;
  gap: 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#home .user-auth ul.user_account li {
  flex: 1;
  min-width: 80px;
  position: relative;
}
#home .user-auth ul.user_account li::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 36px;
  background: #EEEEEE;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#home .user-auth ul.user_account li:last-child::after {
  content: "";
  display: none;
}
#home .user-auth ul.user_account a{
  font-size: 16px;
  color: #868686;
  font-weight: 400;
}
#home .user-auth .user-auth-wrap .btn_wrap {
  margin-top: 20px;
}
#home .user-auth .find-result-wrap .btn_wrap {
  margin-top: max(7vw, 30px);
}
#home .user-auth .eyeBtn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
#home .user-auth .find-wrap .input_container button {
  width: 140px;
}
#home .user-auth .codeBtn {
  background: #FAF9FE;
  border-color: #5228F4;
  color: #5228F4;
}
#home .user-auth .checkBtn {
  border-color: #D3D3D3;
  color: #D3D3D3;
  background: #FAFAFA;
}
#home .user-auth .finishBtn {
  width: 100%;
  padding: 17.5px 0;
  margin-bottom: 12px;
  color: #FEFEFE;
  background: #5228F4;
}
#home .find-result-wrap .id-result {
  padding: 29.5px 20px;
  background: #FAF9FE;
  border: 1px solid #EFEAFF;
  border-radius: 10px;
}
#home .find-result-wrap .id-result b {
  color: #5228F4;
}
@media (max-width: 767px) {
  #home .user-auth .user-auth-wrap .main-title {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  #home .user-auth .user-auth-wrap .main-title {
    font-size: 24px;
  }
  #home .user-auth .input_container input::placeholder {
    font-size: 14px;
  }
  #home .user-auth ul.user_account a {
    font-size: 14px;
  }
  #home .user-auth button {
    font-size: 14px;
  }
  #home .user-auth ul.user_account li::after {
    width: 2px;
    height: 30px;
  }
  #home .user-auth .user-auth-wrap .tab-view li {
    font-size: 14px;
    padding: 16px 0;
  }
  #home .user-auth .find-wrap .input_container button {
    width: 114px;
  }
  #home .user-auth .user-auth-wrap .guide-title {
    font-size: 14px;
    margin: 30px 0;
  }
  #home .find-result-wrap .id-result {
    font-size: 14px;
  }
}





/* ------ footer ------ */
#home .footer {
  border-top: 1px solid #ddd;
  background: #292929;
}
#home .footer a {
  color: #fefefe;
}
#home .footer .inner {
  max-width: none;
  padding: 0 70px;
}
#home .footer .content {
  display: flex;
  flex-direction: column;
}
#home .footer .footer-logo {
  width: 100%;
  max-width: 96px;
}
#home .footer .footer-logo img {
  width: 100%;
}
#home .footer .footer-info02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  flex-wrap: wrap;
}
#home .footer .footer-info01 {
  padding: 52px 0;
}
#home .footer .footer-info01 .site-map {
  display: flex;
  gap: 0 4vw;
  font-family: "Pretendard-SemiBold";
  font-size: 14px;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.28px;
  flex-wrap: wrap;
}
#home .footer .footer-info01 .site-map .site li {
  line-height: 230%;
}
#home .footer .footer-info01 .site-map .site a {
  font-weight: 400;
}
#home .footer .footer-info01 .site-map .sub-site a {
  color: #B8B8B8;
}
#home .footer .footer-info02 .left-content {
  min-width: 470px;
  flex: 1;
  display: flex;
  gap: 30px 10%;
}
#home .footer .footer-info02 .support-links {
  display: flex;
  gap: 50px;
  align-items: center;
}
#home .footer .footer-info02 .support-links .link a {
  color: #EFEFEF;
  font-size: 14px;
}
#home .footer .line {
  width: 100%;
  height: 1px;
  background: #3A3A3A;
  margin: 16px 0;
}
#home .footer .footer-info .inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px 0;
}
#home .footer .footer-info02 .inner{
  align-items: center;
}
#home .footer .footer-info01 .company-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 478px;
}
#home .footer .footer-info01 .company-info .info {
  color: #B8B8B8;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; 
  letter-spacing: -0.28px;
}
#home .footer .footer-info01 .company-info .info span {
  padding-right: 10px;
}
#home .footer .footer-info01 .company-info .info01 {
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
}
#home .footer .footer-info01 .company-info .info01 li span {
  margin-left: 12px;
}
#home .footer .footer-info01 .company-info .info-mg {
  margin-top: 6px;
}
#home .footer .footer-info02 .copyright {
  color: #B8B8B8;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; 
  letter-spacing: -0.28px;
}
@media (max-width: 767px) {
  #home .footer .inner {
    padding: 0;
  }
  #home .footer .content {
    flex-direction: column-reverse;
  }
  #home .footer .line {
    display: none;
  }
  #home .footer .footer-info01 {
    padding: 10px 0 20px;
  }
  #home .footer .footer-info .inner {
    gap: 10px 0;
  }
  #home .footer .footer-info01 .inner {
    flex-direction: column-reverse;
  }
  #home .footer .footer-info01 .site-map {
    width: 100%;
    gap: 0;
    padding: 0 0 10px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  #home .footer .footer-info01 .company-info .info {
    padding-left: 20px;
  }
  #home .footer .footer-info01 .site-map .site {
    border-bottom: 1px solid #3A3A3A;

  }
  #home .footer .footer-info02 {
    padding: 20px 0;
    border-bottom: 2px solid #5d5d5d;
  }
  #home .footer .footer-info02 .left-content {
    min-width: auto;
    flex-direction: column;
    align-items: center;
  }
  #home .footer .footer-info02 .copyright {
    width: 100%;
    text-align: center;
  }
  #home .footer .footer-info01 .company-info .info {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  #home .footer .footer-logo {
    max-width: 72px;
  }
}

/* footer 모달 팝업 */
#home .modal-content p { line-height: 1.5;}
#home .mt_15 { margin-top: 15px; }
#home .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  padding-top: 60px;
}
#home .modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  max-width: 930px;
}
#home .close {
  color: #222;
  float: right;
  font-size: 45px;
}
#home .close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#home .modal h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
#home .modal ul {
  list-style-type: none;
  padding: 0;
}
#home .modal ul.f_gnb {
  display: flex !important;
  justify-content: space-around !important
}
#home .modal ul li {
  margin: 10px 0;
}
#home .modal ul li a:hover {
  color: #007bff;
}




